<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 py-1">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="navbar-brand">
                <span th:text="${user.getUsername()}" class="font-weight-bold">Email</span>
                <span>with roles:</span>
                <span th:text="${user.getStringFromRoles()}">A B C</span>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<main class="container-fluid">
    <div class="row" style="height: 100vh">
        <div class="col-md-2 p-0 py-3 bg-white" id="v-pills-tab" role="tablist">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                       aria-controls="v-pills-user" aria-selected="true">User</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10 py-3 bg-light">
            <div class="tab-content" id="v-pills-tabContent">
                <!--ONE USER-->
                <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel"
                     aria-labelledby="v-pills-user-tab">
                    <h1 class="px-3">User information-page</h1>

                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-user-table" role="tabpanel"
                             aria-labelledby="nav-user-table-tab">
                            <div class="border px-3 pt-2 pb-1">
                                <h5>All users</h5>
                            </div>
                            <div class="p-4 bg-white">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tr>
                                        <td th:text="${user.getId()}">id</td>
                                        <td th:text="${user.getFirstname()}">f_name</td>
                                        <td th:text="${user.getLastname()}">l_name</td>
                                        <td th:text="${user.getAge()}">age</td>
                                        <td th:text="${user.getUsername()}">email</td>
                                        <td th:text="${user.getStringFromRoles()}">roles</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>